body {
	font-family: Source Sans Pro;
	font-size: 17px;
	font-weight: 400;
	font-style: normal;
	color: #30302e;
	max-width: 940px;
	margin: auto;
	padding: 15px;
	}
h1 {
	font: normal 400 26px Quicksand, sans-serif;
	}
h2 {
	font: normal 600 17px Quicksand, sans-serif;
	}
h3 {
	font: normal 600 16px Source Sans Pro, sans-serif;
	}
h4 {
	font: italic 600 16px Source Sans Pro, sans-serif;
	}
a {
	text-decoration: underline;
	color: #656e81;
	}
a:hover {
	color: #30302e;
	}

.rrss {
	color: #505050;
	font: normal 500 15px Quicksand, sans-serif;
	line-height: 1.8;
	}

.rrss a {
	text-decoration: none;
	border-bottom: 1px solid #6485a4;
	}
.rrss a:hover {
	border-bottom: 1px solid #30302e;
	}

/*---- Responsive ----*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
/* Mobile */
  [class*="col-"] {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /*border: 1px solid red;*/
}

img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}